@charset "utf-8";
html {
    height: 100vh;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: #F6F6F6;
    color: #515151;
    text-align: center;
    font-size: 13px;
    line-height: 180%;
    border-top: solid 10px #6CC6C4;
}

#wrapper {
    width: 920px;
    height: 100vh;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*--------------- header ---------------*/
header {
    height: 130px;
    position: relative;
}

h1 {
    position: absolute;
    top: 30%;
    left: 0;
    padding: 0;
    margin: 0;
}

header h1 img {
    max-width: 100%;
    height: auto;
}

#catchcopy {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 75%;
}

#info {
    position: absolute;
    width: 215px;
    height: 80px;
    top: 40px;
    right: 0;
}

#tel {
    position: absolute;
    padding-left: 30px;
    margin: 15px 0 0 0;
    font-size: 200%;
    background: url(img/bgTel.png) left center no-repeat;
}

#open {
    position: absolute;
    font-size: 75%;
    width: 212px;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    border: solid 1px #CCC;
}

#open span {
    color: darkred;
}

/*--------------- nav ---------------*/
nav {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0;
    margin: 0;
    border: solid 1px #6cc6c4;
    border-radius: 6px;
}

nav div + div {
    border-left: solid 1px #92DDDB;
}

.navitem {
    background: -moz-linear-gradient(top, #92DDDB, #6cc6c4);
    background: -webkit-linear-gradient(top, #92DDDB, #6cc6c4);
    background: linear-gradsient(to bottom, #92DDDB, #6cc6c4);
    width: 20%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    border-right: solid 1px #6cc6c4;
    justify-content: center;
    align-items: center;
}

.navitem:first-child {
    border-radius: 6px 0 0 6px;
}

.navitem:last-child {
    border-right:none;
    border-radius: 0 6px 6px 0;
}

.navitem a {
    width: 100%;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 25px;
    height: 100%;
    line-height: 10px;
    box-sizing: border-box;
    text-shadow: 1px 3px 3px #6db2b078;
}

.navitem p {
    font-size: 10px;
}

.navitem:hover {
    background: -moz-linear-gradient(top, #6cc6c4, #92DDDB);
    background: -webkit-linear-gradient(top, #6cc6c4, #92DDDB);
    background: linear-gradient(to bottom, #6cc6c4, #92DDDB);
    
}

.navitem a:hover {
    color: #ffffffa1;
}

/*--------------- main ---------------*/
main {
    height: 725px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

#menu {
    height: 100%;
    width: 258px;
    text-align: left;
}

.menutitle {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 5px 0 5px 10px;
    margin: 0 auto;
    background: -moz-linear-gradient(top, #92DDDB, #6cc6c4);
    background: -webkit-linear-gradient(top, #92DDDB, #6cc6c4);
    background: linear-gradient(to bottom, #92DDDB, #6cc6c4);
    font-size: 16px;
    color: #FFF;
    border: solid 1px #6cc6c4;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
}

.menu {
    height: 200px;
    margin: 0 0 20px 0;
    background: #FFF;
    border: solid 1px #6cc6c4;
}



.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    position: relative;
    padding: 0 0 10px 30px;
    margin: 0 10px 10px 10px;
    border-bottom: solid 1px #6cc6c4;
}

.menu li::after {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    content: "◆";
    color: #6cc6c4;
    
}
.menu a {
    display: block;
    width: 100%;
    color: #515151;
    font-size: 14px;
    font-weight: bold;
}

.menu  a:hover {
    color: #6cc6c4;    
}


#content {
    width: 640px;
    height: 100%;
    margin-left: 22px;
}


#mainview {
    width: 100%;
    height: 280px;
}

article {
    display: flex;
    height: 430px;
    background: #FFF;
    margin-top: 15px;
    border-radius: 0 0 6px 6px;
    overflow: auto;
}

article #inner {
    display: block;
    width: 100%;
    padding: 20px;
}

#newrelease {
    display: flex;
    height: 50px;
    margin: 0 0 10px 0;
    align-items: center;
    font-size: 15px;
    border-bottom: solid 3px #6cc6c4;
}

#newslist {
    text-align: left;
}

#newslist dt {
    float: left;
    width: fit-content;
    padding: 10px 0;
    font-weight: bold;
}

#newslist dd {
    padding: 10px 0 10px 130px;
    margin: 0;
    border-bottom: dotted 1px #CCC;
    line-height: 18px;
}

footer {
    height: 100px;
    padding-top: 15px;
}

.footer {
    display: flex;
    width: 100%;
    height: 30px;
    background: #6cc6c4;
    border-radius: 6px;
}

.footer ul {
    display:flex;
    list-style: none;
    align-items: center;
}

.footer ul li {
    position: relative;
    padding-right: 70px;
}

.footer ul li a {
    color: #FFF;
    font-weight: bold;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer ul li::before {
    display: block;
    position: absolute;
    top: 0px;
    left: -20px;
    content: "〇";
    color: #FFF;
    font-weight: bold;
}

.clinicaddress {
    font-size: 13px;
    text-align: right;
    font-weight: normal;
}

.copylight {
    padding: 3px 0;
    border-top: solid 2px #6cc6c4;
}

@media screen and (max-width:750px) {
    #wrapper {
        width: 100%;        
    }
    
    header {
        position: relative;
        height: 160px;
    }
    
    h1 {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0px;
        text-align: center;
    }
    
    #catchcopy {
        position: absolute;
        top: 41px;
        right: 0;
        left: 0;
        font-size: 75%;
    }
    
    #info {
        position: absolute;
        width: 215px;
        height: 80px;
        top: 65px;
        right: 0;
        left: 0;
        margin: auto;
    }
    
    #open span {
        display: inline;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        height: 240px;
        padding: 0 3%;
        margin: 0px;
        border: none;
        border-radius: 6px;
    }

    .navitem {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 50%;
        height: 80px;
        padding: 0;
        margin: 0 auto;
        border-radius: 6px;
    }
    
    .navitem:first-child {
        border-radius: 6px;
    }    

    .navitem:last-child {
        border-right:none;
        border-radius: 6px;
    }
    
    
     main {
        width: 100%;
        flex-flow: column;
        height: auto;
     }
     
     #content {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 0 3%;
        margin: 20px 0;
     }
     
     #mainview  {
        box-sizing: border-box;
        height: auto;
     }
    
    #mainview img {
        max-width: 100%;
        height: auto;
    }
     
    #newslist dt {
        float: none;
    }
    
    #newslist dd {
        padding: 10px 0;
    }
    
    article {
        height: auto;
    }
    
    #menu {
        box-sizing: border-box;
        width: auto;
        height: auto;
        padding: 0 3%;
        text-align: left;
    }
    
    .menutitle {
        width: auto;
    }
    
    footer {
        padding: 0 3%;
    }
    
    .footer {
        height: auto;
    }
    
    .footer ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #clinicaddress strong, span {
        display: block;
    }
}